@font-face {
  font-family: Montserrat;
  src: url(/lecture_06/src/assets/fonts/montserrat.woff);
}

@font-face {
  font-family: Roboto;
  src: url(/lecture_06/src/assets/fonts/Roboto.woff);
}

@font-face {
  font-family: 'fontello';
  src: url("/lecture_06/src/assets/fonts/fontello/font/fontello.eot?80626837");
  src: url("/lecture_06/src/assets/fonts/fontello/font/fontello.eot?80626837#iefix") format("embedded-opentype"), url("/lecture_06/src/assets/fonts/fontello/font/fontello.woff?80626837") format("woff"), url("/lecture_06/src/assets/fonts/fontello/font/fontello.ttf?80626837") format("truetype"), url("/lecture_06/src/assets/fonts/fontello/font/fontello.svg?80626837#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes heart {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@keyframes heart {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
}

@-webkit-keyframes rotationWithIncrease {
  from {
    -webkit-transform: perspective(500px) scale(1, 1) rotateY(0deg);
            transform: perspective(500px) scale(1, 1) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(500px) scale(1.5, 1.5) rotateY(360deg);
            transform: perspective(500px) scale(1.5, 1.5) rotateY(360deg);
  }
}

@keyframes rotationWithIncrease {
  from {
    -webkit-transform: perspective(500px) scale(1, 1) rotateY(0deg);
            transform: perspective(500px) scale(1, 1) rotateY(0deg);
  }
  to {
    -webkit-transform: perspective(500px) scale(1.5, 1.5) rotateY(360deg);
            transform: perspective(500px) scale(1.5, 1.5) rotateY(360deg);
  }
}

@-webkit-keyframes increaseLeftAlignment {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2) translateX(-80%);
            transform: scale(1.2, 1.2) translateX(-80%);
  }
}

@keyframes increaseLeftAlignment {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2) translateX(-80%);
            transform: scale(1.2, 1.2) translateX(-80%);
  }
}

@-webkit-keyframes increaseCenterAlignment {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@keyframes increaseCenterAlignment {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

@-webkit-keyframes increaseRightAlignment {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2) translateX(80%);
            transform: scale(1.2, 1.2) translateX(80%);
  }
}

@keyframes increaseRightAlignment {
  from {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  to {
    -webkit-transform: scale(1.2, 1.2) translateX(80%);
            transform: scale(1.2, 1.2) translateX(80%);
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 700px;
}

.container .container__header {
  margin-top: 85px;
  font-size: 45px;
  font-weight: bold;
  font-family: Montserrat;
}

.container .container__items {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo .logo__name {
  font-size: 30px;
  font-weight: bold;
  font-family: Montserrat;
  text-transform: uppercase;
}

.menu {
  width: 425px;
}

.menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu .menu__list .menu__list__item {
  font-size: 11px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu .menu__list .menu__list__item a:hover {
  font-size: 14px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-family: Montserrat;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.link:hover {
  color: #ffe26d;
}

.link:active {
  color: #ffe26d;
}

.text {
  font-size: 19px;
  font-family: Roboto;
}

button {
  width: 125px;
  height: 45px;
  border: none;
  border-radius: 3px;
  background-color: #ffe26d;
  color: #323232;
  font-size: 10px;
  font-weight: bold;
  font-family: Montserrat;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

button:hover {
  color: #fff;
  background-color: #62497c;
}

.slider {
  width: 100%;
  height: 690px;
  background-image: url(./assets/images/1x/image.png);
  -o-object-fit: contain;
     object-fit: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slider .slider__item {
  max-width: 470px;
}

.slider .slider__item .slider__item__header {
  animation: increaseRightAlignment 1s ease-out forwards reverse;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  font-family: Montserrat;
  margin-bottom: 35px;
}

.slider .slider__item .text {
  animation: increaseLeftAlignment 1s ease-out forwards reverse;
  color: #fff;
  margin-bottom: 35px;
}

.slider .slider__item .button {
  animation: increaseRightAlignment 1s ease-out forwards reverse;
}

.welcome .welcome__content {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}

.welcome .welcome__content .welcome__content__text {
  max-width: 435px;
  color: #040405;
  font-size: 30px;
  margin-right: 70px;
}

.welcome .welcome__content .welcome__content__img {
  width: 190px;
  height: 195px;
}

.welcome .welcome__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .welcome__item .welcome__item__container {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #62497c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.welcome .welcome__item .welcome__item__header {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  color: #62497c;
  margin-bottom: 25px;
}

.welcome .welcome__item .welcome__item__text {
  max-width: 155px;
  word-wrap: break-word;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 1.75;
  text-align: center;
  color: #a6a7a7;
  margin-bottom: 35px;
}

.projects {
  width: 100%;
}

.projects .container {
  max-width: 100%;
}

.projects .container__items {
  margin-top: 45px;
}

.projects .projects__item {
  width: 25%;
  min-width: 350px;
  cursor: pointer;
}

.projects .projects__item .projects__item__img {
  height: 485px;
}

.projects .projects__item:nth-child(odd) .projects__item__block {
  background-color: #efefef;
}

.projects .projects__item:nth-child(even) .projects__item__block {
  background-color: #e4e4e4;
}

.projects .projects__item .projects__item__block {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 45px;
  width: 260px;
  height: 150px;
}

.projects .projects__item .projects__item__block .projects__item__header {
  text-transform: uppercase;
  font-size: 14px;
  color: #040405;
  font-family: Montserrat;
  margin-bottom: 17px;
}

.projects .projects__item .projects__item__block .projects__item__text {
  max-width: 275px;
  font-family: Helvetica;
  font-size: 13px;
  line-height: 1.74;
  color: #a6a7a7;
  margin-bottom: 15px;
}

.projects .projects__item .projects__item__block .projects__item__button {
  width: 160PX;
  background-color: #fff;
}

.projects .projects__item:hover .projects__item__block {
  background-color: #ffe26d;
}

.projects .projects__item:hover .projects__item__button:hover {
  color: #fff;
  background-color: #62497c;
}

.pricingTable {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricingTable .container__items {
  margin-top: 50px;
}

.pricingTable .pricingTable__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pricingTable .pricingTable__item:hover {
  -webkit-animation: rotationWithIncrease 2s ease-out forwards;
          animation: rotationWithIncrease 2s ease-out forwards;
}

.pricingTable .pricingTable__item .pricingTable__item__title {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

.pricingTable .pricingTable__item .pricingTable__item__price {
  font-family: Montserrat;
  font-size: 15px;
  color: #a6a7a7;
  margin-bottom: 20px;
}

.pricingTable .specificationsList {
  list-style: none;
  margin-bottom: 25px;
}

.pricingTable .specificationsList .specificationsList__item {
  text-align: center;
  font-family: Helvetica;
  font-size: 11px;
  line-height: 2.1;
  font-weight: bold;
}

.pricingTable .pricingTable__item__button {
  width: 80px;
  height: 30px;
}

.videoProjects {
  overflow: hidden;
  margin-top: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62497c;
}

.videoProjects .videoProjects__header {
  margin-top: 85px;
  font-size: 45px;
  font-weight: bold;
  font-family: Montserrat;
  color: #fff;
}

.videoProjects .videoProjects__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoProjects .video {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 35px;
  margin-bottom: 115px;
}

.videoProjects .video .video__prev {
  width: 690px;
  height: 460px;
}

.videoProjects .video .video__play {
  position: absolute;
  width: 120px;
  height: 120px;
}

.videoProjects .video .video__play:hover {
  -webkit-animation: heart 1s ease-in-out infinite;
          animation: heart 1s ease-in-out infinite;
}

.videoProjects .video .video__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoProjects .video .video__info .video__info__title {
  text-transform: uppercase;
  font-family: Montserrat;
  margin-top: 20px;
  font-weight: 300;
  font-size: 11px;
  color: #fefefe;
}

.videoProjects .video .video__info .video__info__duration {
  text-transform: uppercase;
  font-family: Montserrat;
  margin-top: 20px;
  font-size: 11px;
  line-height: 0.67;
  color: #fefefe;
}

.zippyTeam .teamList {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 45px;
}

.zippyTeam .teamList .teamList__item {
  margin: 0 10px 60px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zippyTeam .teamList .teamList__item .teamList__item__img {
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.zippyTeam .teamList .teamList__item .teamList__item__name {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 15px;
  font-weight: bold;
}

.zippyTeam .teamList .teamList__item .teamList__item__workingPosition {
  font-family: Montserrat;
  font-size: 15px;
  color: #a6a7a7;
}

.zippyTeam .teamList .teamList__item .teamList__item__hoverImg {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.zippyTeam .teamList .teamList__item:hover .teamList__item__hoverImg {
  background-color: rgba(98, 73, 124, 0.7);
  position: absolute;
  border-radius: 50%;
  width: 170px;
  height: 170px;
}

.lifeInZippy {
  width: 100%;
  background-color: #efefef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lifeInZippy .photoSlider {
  margin-top: 40px;
  margin-bottom: 110px;
}

.lifeInZippy .photoSlider .photoSlider__photo {
  width: 695px;
  height: 430px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.lifeInZippy .photoSlider .photoSlider__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.lifeInZippy .photoSlider .photoSlider__list .photoSlider__list__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 70px;
  margin-top: 5px;
  margin-right: 5px;
  background-color: #2a2a2a;
}

.lifeInZippy .photoSlider .photoSlider__list .photoSlider__list__left:hover {
  background-color: #62497c;
}

.lifeInZippy .photoSlider .photoSlider__list .photoSlider__list__item {
  margin: 5px;
  width: 110px;
  height: 70px;
}

.lifeInZippy .photoSlider .photoSlider__list .photoSlider__list__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 70px;
  margin-top: 5px;
  margin-left: 5px;
  background-color: #ffe26d;
}

.lifeInZippy .photoSlider .photoSlider__list .photoSlider__list__right:hover {
  background-color: #62497c;
}

.newSletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
  height: 329px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(./assets/images/1x/image_2.png);
}

.newSletter .newSletter__header {
  margin-top: 55px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  color: #fff;
}

.newSletter .newSletter__input {
  outline: none;
  padding: 15px;
  border: none;
  width: 414px;
  height: 54px;
  border-radius: 3px;
  background-color: #fefefe;
}

.newSletter .newSletter__input::-webkit-input-placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter .newSletter__input:-ms-input-placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter .newSletter__input::-ms-input-placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter .newSletter__input::placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter .signUp {
  width: 132px;
  height: 55px;
  margin-left: -5px;
  border-radius: 0px 3px 3px 0px;
  outline: none;
}

.blog .blog__header {
  margin-bottom: 55px;
}

.blog .blog__content {
  margin-bottom: 90px;
}

.blog .blog__content .blog__content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
}

.blog .blog__content .blog__content__item:nth-child(1):focus {
  -webkit-animation: increaseRightAlignment 1s ease-out forwards;
          animation: increaseRightAlignment 1s ease-out forwards;
}

.blog .blog__content .blog__content__item:nth-child(2):focus {
  -webkit-animation: increaseCenterAlignment 1s ease-out forwards;
          animation: increaseCenterAlignment 1s ease-out forwards;
}

.blog .blog__content .blog__content__item:nth-child(3):focus {
  -webkit-animation: increaseLeftAlignment 1s ease-out forwards;
          animation: increaseLeftAlignment 1s ease-out forwards;
}

.blog .blog__content .blog__content__item .blog__content__item__image {
  width: 205px;
  height: 110px;
  margin-bottom: 35px;
}

.blog .blog__content .blog__content__item .blog__content__item__header {
  text-transform: uppercase;
  margin-bottom: 25px;
  font-family: Montserrat;
  font-size: 15px;
  text-align: center;
}

.blog .blog__content .blog__content__item .blog__content__item__date {
  color: #a6a7a7;
  margin-bottom: 25px;
  font-family: Helvetica;
  font-size: 14px;
}

.blog .blog__content .blog__content__item .blog__content__item__text {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.74;
  text-align: center;
  margin-bottom: 30px;
}

.blog .blog__content .blog__content__item .blog__content__item__button {
  background-color: #ececec;
}

.blog .blog__content .blog__content__item .blog__content__item__button:hover {
  background-color: #62497c;
}

.contact {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .contact__block {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 50px 40px;
  background-color: #ffe26d;
}

.contact .contact__block .contact__header {
  font-size: 45px;
  font-weight: bold;
  font-family: Montserrat;
}

.contact .contact__block .contact__form {
  max-width: 310px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact .contact__block .contact__form .contact__label {
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.contact .contact__block .contact__form .contact__input {
  width: 310px;
  height: 45px;
  padding: 15px;
  border: none;
  background-color: #fefefe;
}

.contact .contact__block .contact__form .contact__textarea {
  width: 310px;
  height: 115px;
  padding: 15px;
  border: none;
  background-color: #fefefe;
}

.contact .contact__block .contact__form .contact__button {
  width: 100%;
  margin-top: 15px;
  border-radius: 0;
  background-color: #fefefe;
}

.contact .contact__block .contact__form .contact__button:hover {
  background-color: #62497c;
}

.footerConetent {
  margin-top: 80px;
  height: 302px;
}

.footerConetent .footerConetent__link {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #000;
}

.footerConetent .footerConetent__link:hover {
  color: #62497c;
}

.footerConetent .footerConetent__link:active {
  color: #62497c;
}

.footerConetent .footerConetent__header {
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.footerConetent .icon {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
}

.footerConetent .footerConetent__office .footerConetent__office__address {
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.74;
  font-style: normal;
  text-align: center;
}

.footerConetent .footerConetent__fallow .footerConetent__fallow__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
  max-width: 200px;
}

.footerConetent .footerConetent__fallow .footerConetent__fallow__list .footerConetent__fallow__list__item {
  margin: 15px 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footerConetent .footerConetent__fallow .footerConetent__fallow__list .footerConetent__fallow__list__item:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footerConetent .footerConetent__contactInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerConetent .footerConetent__contactInfo .link_contactInfo {
  color: #000;
  font-family: Helvetica;
  font-size: 14px;
  line-height: 1.74;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header {
  width: 100%;
  position: absolute;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .container {
  margin-top: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  width: 100%;
  max-width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */