.projects {
    padding: 10px;
    .projects__header {
        margin-top: 55px;
        margin-bottom: 45px;
    }
    .projects__item {
        cursor: pointer;
        flex-grow: 1;
        max-width: 345px;
        margin-bottom: 40px;
        .projects__item__img {
            max-width: 345px;
            height: 485px;
        }
        .projects__item__block {
            max-width: 345px;
            padding: 45px;
        }
        &:nth-child(odd){ .projects__item__block { background-color: #efefef; } }
        &:nth-child(even){ .projects__item__block { background-color: #e4e4e4; } }
        .projects__item__header {
            margin-bottom: 17px;
        }
        .projects__item__text {
            font-family: Helvetica;
            font-size: 13px;
            line-height: 1.74;
            color: $secondary-color;
            margin-bottom: 15px;
        }
        .projects__item__button {
            width: 160px;
            height: 45px;
            background-color: $basic-color;
            &:hover { background-color: $accent-color; }
        }
        &:hover {
            .projects__item__block { 
                transition: 0.5s;
                background-color: $primary-color; }
        }
    }
}
@media screen and (max-width: 730px) {
    .projects__item__img { max-width: 310px !important; }
    .projects__pos__adap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 995px) {
    .projects__pos__adap {
        justify-content: space-around !important;
    }
}