* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Montserrat;
  src: url(./assets/fonts/montserrat.woff);
}

@font-face {
  font-family: Roboto;
  src: url(./assets/fonts/Roboto.woff);
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1400px 1fr;
      grid-template-columns: 1fr 1400px 1fr;
}

body .content {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
      grid-column-start: 2;
  background-color: #fefefe;
}

header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 352px 77px 197px 422px 352px;
      grid-template-columns: 352px 77px 197px 422px 352px;
  position: absolute;
  top: 0;
}

header a {
  text-decoration: none;
  color: #ffffff;
}

header a:active {
  color: #ffe26d;
}

header a:visited {
  color: #ffffff;
}

header .logo {
  margin-top: 41px;
  -ms-grid-column: 2;
      grid-column-start: 2;
  font-family: Montserrat;
  width: 77px;
  height: 21px;
  font-size: 29.5px;
  font-weight: bold;
  letter-spacing: -2.95px;
  color: #ffffff;
}

header .navList {
  -ms-grid-column: 4;
      grid-column-start: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 53px;
  width: 422px;
  height: 10px;
  font-family: Montserrat;
  font-size: 10.5px;
  font-weight: bold;
}

header .navList a:hover {
  color: #ffe26d;
}

.introSection {
  height: 692.6px;
  background-image: url(./assets/images/1x/image.png);
  -o-object-fit: contain;
     object-fit: contain;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 352px 696px 352px;
      grid-template-columns: 352px 696px 352px;
}

.introSection .introArticle {
  margin-top: 190px;
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.introSection .introArticle h1 {
  width: 472px;
  height: 90px;
  color: #ffffff;
  font-family: Montserrat;
  font-size: 40.5px;
  font-weight: bold;
  color: #ffffff;
}

.introSection .introArticle p {
  margin-top: 33px;
  width: 417px;
  font-family: Roboto;
  font-size: 19px;
  font-weight: 100;
  color: #ffffff;
}

.introSection .introArticle button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
}

.introSection .introArticle button:hover {
  background-color: #ffe26d;
  font-weight: bold;
  color: #323232;
}

.welcome {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 352px 696px 352px;
      grid-template-columns: 352px 696px 352px;
  -ms-grid-rows: 204.4px 195px 470px;
      grid-template-rows: 204.4px 195px 470px;
}

.welcome h1 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 1;
      grid-row-start: 1;
  font-family: Montserrat;
  margin-top: 85.4px;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  color: #040405;
}

.welcome .info {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 2;
      grid-row-start: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 58px;
}

.welcome .info p {
  margin-right: 69px;
  width: 436px;
  height: 165px;
  font-family: Roboto;
  font-size: 29.5px;
  font-weight: 100;
  color: #040405;
}

.welcome .info img {
  width: 188px;
  height: 195px;
  -o-object-fit: contain;
     object-fit: contain;
}

.welcome .action {
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 75px;
  border-bottom: 1px solid #e4e4e4;
}

.welcome .action div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome .action .imgContainer {
  width: 81px;
  height: 81px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62497c;
}

.welcome .action .imgContainer img {
  width: 40px;
  height: 40px;
  -o-object-fit: contain;
     object-fit: contain;
}

.welcome .action h4 {
  text-align: center;
  margin-top: 33px;
  margin-bottom: 27px;
  width: 123px;
  height: 12px;
  font-family: Montserrat;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 2.79;
  color: #62497c;
}

.welcome .action p {
  margin-bottom: 34px;
  width: 156px;
  height: 107px;
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 13.5px;
  line-height: 1.74;
  text-align: center;
  color: #040405;
}

.welcome .action button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
}

.welcome .action button:hover {
  background-color: #ffe26d;
  font-weight: bold;
  color: #323232;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 56px;
  margin-bottom: 45px;
}

.projects h1 {
  margin-bottom: 47px;
  width: 183px;
  height: 44px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  text-align: center;
  color: #040405;
}

.projects .slideListProjects {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.projects .slideListProjects .slideItem {
  width: 350px;
  height: 727px;
}

.projects .slideListProjects .slideItem .slideItemImgContainer {
  width: 100%;
  height: 485px;
}

.projects .slideListProjects .slideItem article {
  padding: 45px;
  height: 197px;
}

.projects .slideListProjects .slideItem article h4 {
  text-transform: uppercase;
  width: 120px;
  height: 13px;
  font-family: Montserrat;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 2.79;
  color: #040405;
}

.projects .slideListProjects .slideItem article p {
  margin-top: 34px;
  width: 273px;
  height: 61px;
  opacity: 0.5;
  font-family: Helvetica;
  font-size: 13.5px;
  line-height: 1.74;
  color: #040405;
}

.projects .slideListProjects .slideItem article button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
  width: 162px;
  height: 43px;
  background-color: #fefefe;
  color: #323232;
}

.projects .slideListProjects article:nth-child(even) {
  background-color: #efefef;
}

.projects .slideListProjects article:nth-child(odd) {
  background-color: #e4e4e4;
}

.projects .slideItem:hover article {
  background-color: #ffe26d;
}

.projects .slideItem:hover article button {
  width: 162px;
  height: 43px;
  background-color: #62497c;
  color: #ffffff;
}

.pricingTable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricingTable h1 {
  margin-top: 86px;
  margin-bottom: 48px;
  width: 286px;
  height: 44px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  text-align: center;
  color: #040405;
}

.pricingTable section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (236px)[3];
      grid-template-columns: repeat(3, 236px);
}

.pricingTable section .standart {
  border-right: 2px solid #e2e2e2;
}

.pricingTable section .business {
  border-right: 2px solid #e2e2e2;
}

.pricingTable section article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricingTable section article h4 {
  text-align: center;
  width: 130px;
  height: 12px;
  font-family: Montserrat;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 0.48;
  color: #040405;
}

.pricingTable section article .price {
  margin-top: 19px;
  margin-bottom: 20px;
  font-family: Montserrat;
  font-size: 14.5px;
  line-height: 0.48;
  color: rgba(4, 4, 5, 0.39);
}

.pricingTable section article p {
  font-family: Helvetica;
  font-weight: bold;
  font-size: 10.5px;
  line-height: 2.1;
  color: #040405;
}

.pricingTable section button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
}

.pricingTable section button:hover {
  background-color: #ffe26d;
  font-weight: bold;
  color: #323232;
}

.videoProjects {
  height: 783px;
  background-color: #62497c;
  margin-top: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.videoProjects h1 {
  margin-top: 81px;
  margin-bottom: 47px;
  width: 327px;
  height: 45px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  color: #fefefe;
}

.videoProjects .videoList {
  overflow: hidden;
  width: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.videoProjects .videoList .videoItem {
  margin-left: 36px;
  margin-right: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.videoProjects .videoList .videoItem .video {
  width: 690px;
  height: 461px;
}

.videoProjects .videoList .videoItem .play {
  position: absolute;
}

.videoProjects .videoList .videoItem .videoInfo {
  margin-top: 23px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.videoProjects .videoList .videoItem .videoInfo p {
  font-family: Montserrat;
  font-size: 10.5px;
  color: #fefefe;
}

.zippyTeam {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zippyTeam h1 {
  margin-top: 76px;
  margin-bottom: 44px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  color: #040405;
}

.zippyTeam .teamList {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 260px 260px;
      grid-template-columns: 260px 260px 260px;
  -ms-grid-rows: 308px 308px;
      grid-template-rows: 308px 308px;
}

.zippyTeam .teamList .teamItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.zippyTeam .teamList .teamItem img {
  border-radius: 100px;
  width: 172.3px;
  height: 172.4px;
  -o-object-fit: contain;
     object-fit: contain;
}

.zippyTeam .teamList .teamItem .name {
  margin-top: 30px;
  margin-bottom: 15px;
  font-family: Montserrat;
  font-size: 14.5px;
  font-weight: bold;
  line-height: 0.48;
  color: #040405;
}

.zippyTeam .teamList .teamItem .workingPosition {
  font-family: Montserrat;
  font-size: 14.5px;
  line-height: 0.48;
  color: rgba(4, 4, 5, 0.39);
}

.zippyTeam .teamList .teamItem:hover .hoverImg {
  background-color: rgba(98, 73, 124, 0.7);
  position: absolute;
  border-radius: 100px;
  width: 172.3px;
  height: 172.4px;
}

.lifeInZippy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 783px;
  background-color: #efefef;
}

.lifeInZippy h1 {
  margin-top: 78px;
  margin-bottom: 39px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  color: #040405;
}

.lifeInZippy .viewLive {
  margin-bottom: 14px;
  width: 694px;
  height: 429px;
  -o-object-fit: contain;
     object-fit: contain;
}

.lifeInZippy .slideLife {
  width: 694px;
  height: 69px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 31px (111px)[5] 31px;
      grid-template-columns: 31px repeat(5, 111px) 31px;
  grid-gap: 13px;
}

.lifeInZippy .slideLife .toLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62497c;
}

.lifeInZippy .slideLife .toLeft:hover {
  background-color: #2a2a2a;
}

.lifeInZippy .slideLife .slideLifeItem {
  width: 110px;
  height: 69px;
  -o-object-fit: contain;
     object-fit: contain;
}

.lifeInZippy .slideLife .toRight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #62497c;
}

.lifeInZippy .slideLife .toRight:hover {
  background-color: #2a2a2a;
}

.newSletter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1400px;
  height: 329px;
  -o-object-fit: contain;
     object-fit: contain;
  background-image: url(./assets/images/1x/image_2.png);
}

.newSletter h1 {
  margin-top: 57px;
  margin-bottom: 29px;
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  color: #ffffff;
}

.newSletter input {
  outline: none;
  padding: 15px;
  border: none;
  width: 384px;
  height: 25px;
  border-radius: 2.9px;
  background-color: #fefefe;
}

.newSletter input::-webkit-input-placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter input:-ms-input-placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter input::-ms-input-placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter input::placeholder {
  text-align: left;
  font-family: Montserrat;
  font-size: 19px;
  color: #d8d8d8;
}

.newSletter .signUp {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
  margin-left: -5px;
  border-radius: 0px 3px 3px 0px;
  outline: none;
  width: 132px;
  height: 55px;
}

.newSletter .signUp:hover {
  background-color: #ffe26d;
  font-weight: bold;
  color: #323232;
}

.newSletter .doubleBtn {
  width: 546px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.newSletter button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
  margin-top: 22px;
  width: 132px;
  height: 55px;
}

.newSletter button:hover {
  background-color: #ffe26d;
  font-weight: bold;
  color: #323232;
  width: 132px;
  height: 55px;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog h1 {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  line-height: 0.92;
  color: #040405;
  margin-top: 72px;
  margin-bottom: 53px;
}

.blog .blogContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 206px 206px 206px;
      grid-template-columns: 206px 206px 206px;
  grid-gap: 36px;
}

.blog .blogContent .contentItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog .blogContent .contentItems h4 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 36px;
  font-family: Montserrat;
  font-size: 14.5px;
  font-weight: bold;
  color: #040405;
}

.blog .blogContent .contentItems .dateBlog {
  margin-top: 24px;
  font-family: Helvetica;
  font-size: 13.5px;
  color: rgba(4, 4, 5, 0.5);
}

.blog .blogContent .contentItems .textBlog {
  width: 193px;
  height: 84px;
  font-family: Helvetica;
  font-size: 13.5px;
  text-align: center;
  color: #040405;
  margin-top: 25px;
}

.blog .blogContent .contentItems button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
  color: #323232;
  background-color: #ececec;
  margin-top: 29px;
}

.blog .blogContent .contentItems:hover button {
  background-color: #ffe26d;
  font-weight: bold;
  color: #323232;
  color: #323232;
  margin-top: 29px;
}

.contact {
  margin-top: 89px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .map {
  width: 693px;
  height: 653px;
}

.contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 51px;
  padding-bottom: 51px;
  padding-left: 43px;
  background-color: #ffe26d;
  width: 664px;
  height: 551px;
}

.contact form h1 {
  font-family: Montserrat;
  font-size: 44px;
  font-weight: bold;
  color: #040405;
}

.contact form .inputName {
  margin-top: 20px;
  margin-bottom: 12px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-size: 10.5px;
  font-weight: bold;
  color: #323232;
}

.contact form input {
  outline: none;
  border: none;
  width: 311px;
  height: 45px;
  background-color: #fefefe;
}

.contact form textarea {
  border: none;
  width: 311px;
  height: 145px;
}

.contact form button {
  margin-top: 35px;
  margin-right: 4px;
  width: 125px;
  height: 43px;
  border: none;
  border-radius: 2.9px;
  color: #fefefe;
  background-color: #62497c;
  font-family: Montserrat;
  text-transform: uppercase;
  font-size: 10.5px;
  font-weight: bold;
  line-height: 0.67;
  border-radius: 0px;
  width: 311px;
  height: 45px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 302px;
  margin-top: 79px;
}

footer .footerConetent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 206px 206px 206px;
      grid-template-columns: 206px 206px 206px;
  grid-gap: 36px;
}

footer .footerConetent h4 {
  font-family: Montserrat;
  font-size: 10.5px;
  color: #040405;
  margin-bottom: 24px;
}

footer .footerConetent .fallowContent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (25px)[3];
      grid-template-columns: repeat(3, 25px);
  -ms-grid-rows: (25px)[2];
      grid-template-rows: repeat(2, 25px);
  grid-gap: 20px;
}

footer .footerConetent .fallowContent img {
  width: 20px;
  height: 20px;
}

footer .footerConetent .fallowContent svg {
  width: 25px;
  height: 25px;
}

footer .footerConetent .fallowContent svg:hover {
  color: #62497c;
}

footer .footerConetent p {
  font-family: Helvetica;
  font-size: 13.5px;
  color: #040405;
  margin-bottom: 10px;
}

footer .footerConetent div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */