* {
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat.woff);
}
body {
    display: grid;
    grid-template-columns: 1fr 1400px 1fr;
}
.content {
    background-color: #fefefe;
    display: grid;
    grid-column-start: 2;
    background-color: #8292e9;
}
header {
    display: grid;
    grid-template-columns: 352px 77px 197px 422px 352px;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    margin-top: 41px;
    grid-column-start: 2;
    font-family: Montserrat;
    width: 77px;
    height: 21px;
    font-size: 29.5px;
    font-weight: bold;
    letter-spacing: -2.95px;
    color: #ffffff;
}
.navList {
    grid-column-start: 4;
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
    width: 422px;
    height: 10px;
    font-family: Montserrat;
    font-size: 10.5px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 0.67;
    letter-spacing: normal;
    text-align: left;
}
header a {
    text-decoration: none;
    color: #ffffff;
}
header a:hover {
    color: #ffe26d;
}
header a:visited {
    color: #ffffff;
}
.intro {
    width: 1400px;
    height: 692.6px;
    object-fit: contain;
    background-image: url(./assets/images/1x/image.png);
}