.pricingTable {
    width: 100%;
    display: flex;
    justify-content: center;
    .container__items { 
        margin-top: 50px;
    }
    .pricingTable__item {
        @include flex-VH-center();
        flex-direction: column;
        &:hover { animation: rotationWithIncrease 2s ease-out forwards;}
        .pricingTable__item__title {
            font-family: $priamryFont;
            font-size: 15px;
            font-weight: bold;
            margin-bottom: 20px;
        }
        .pricingTable__item__price {
            font-family: $priamryFont;
            font-size: 15px;
            color: #a6a7a7;
            margin-bottom: 20px;
        }
    }
    .specificationsList {
        list-style: none;
        margin-bottom: 25px;
        .specificationsList__item {
            text-align: center;
            font-family: Helvetica;
            font-size: 11px;
            line-height: 2.1;
            font-weight: bold;
        }
    }
    .pricingTable__item__button {
        width: 80px;
        height: 30px;
    }
}