@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/montserrat.woff);
}
@font-face {
    font-family: Roboto;
    src: url(./assets/fonts/Roboto.woff);
}
$primary-font: Montserrat;
$secondary-font: Roboto;
$site-width: 1400px;

@import './styles/variables/variables.scss';
@import './styles/components/menu.scss';
@import './styles/components/button.scss';
@import './styles/components/header.scss';
@import './styles/components/sub-header.scss';
@import './styles/components/video.scss';
@import './styles/components/team-list.scss';
@import './styles/components/photo-slider.scss';

@import './styles/sections/slider.scss';
@import './styles/sections/welcome.scss';
@import './styles/sections/projects.scss';
@import './styles/sections/pricingTable.scss';
@import './styles/sections/videoProjects.scss';
@import './styles/sections/zippyTeam.scss';
@import './styles/sections/lifeInZippy.scss';
@import './styles/sections/newSletter.scss';

.container { max-width: $site-width; }
.content { max-width: 700px; }
.absolute { position: absolute; }
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.h-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.v-center-between {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.separator-line-right { border-right: 2px solid #e8e8e8; }
.separator-line-bottom { border-bottom: 2px solid #e8e8e8; }