@font-face {
    font-family: Montserrat;
    src: url(/lecture_06/src/assets/fonts/montserrat.woff);
}
@font-face {
    font-family: Roboto;
    src: url(/lecture_06/src/assets/fonts/Roboto.woff);
}
@font-face {
    font-family: 'fontello';
    src: url('/lecture_06/src/assets/fonts/fontello/font/fontello.eot?80626837');
    src: url('/lecture_06/src/assets/fonts/fontello/font/fontello.eot?80626837#iefix') format('embedded-opentype'),
            url('/lecture_06/src/assets/fonts/fontello/font/fontello.woff?80626837') format('woff'),
            url('/lecture_06/src/assets/fonts/fontello/font/fontello.ttf?80626837') format('truetype'),
            url('/lecture_06/src/assets/fonts/fontello/font/fontello.svg?80626837#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}