@import "./fonts.scss";
@import "./mixins.scss";
@import "./animations.scss";

$maxWidth: 1400px;

$basicTextColor: #000;
$priamryTextColor: #fff;
$secondaryTextColor: #a6a7a7;
$accentTextColor: #ffe26d;

$priamryButtonColor: #ffe26d;
$secondaryButtonColor: #a6a7a7;
$accentButtonColor: #62497c;

$priamryFont: Montserrat;
$secondaryFont: Roboto;

$transitionTimeHover: 0.5s;

