button {  
    width: 125px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #ffe26d;
    color: #323232;
    font-size: 10px;
    font-weight: bold;
    font-family: $priamryFont;
    text-transform: uppercase;
    cursor: pointer;
    transition: $transitionTimeHover;
    &:hover {
        color: #fff;
        background-color: #62497c;
    }
}